:root {
  --color-bg: #ecf4f9;
  --color-bg-th: 0000ff;
  --color-a: #29209e;
  --color-a-hover: #0056b3;
  --color-body-font: #212529;
  --color-btn-outl-succ-border: lightgray; 
  --color-table-class: #272121;
  --bg-main: url("/images/background-table.jpg");
  --bg-navbar: url("/images/bg-navbar.jpg");
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-bg-th: #343a40;
  --color-a: #d2d6da;
  --color-a-hover: #727272;
  --color-body-font: white;
  --color-btn-outl-succ-border: white;
  --color-table-class: white;
  --bg-main: null;
  --bg-navbar: null;
}

body, html {
  background-color: var(--color-bg);
  background-image: var(--bg-main);
  color: var(--color-body-font); 
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
/*   height: 100%; */
  margin: 0;
}

.navbar2-bg {
  background-image: var(--bg-navbar);
  
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #1f1f67;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.table {
  color: var(--color-table-class);
}

[data-theme="dark"] .navbar-light {
  background-color: #595a5a !important;
}

[data-theme="dark"] .btn-primary {
  background-color: #6c757d !important;
}

.btn-outline-success {
  color: var( --color-btn-outl-succ-border);
  border-color: var( --color-btn-outl-succ-border);
}
[data-theme="dark"] .btn-outline-success:hover {
  background-color: #a9c1ae !important;
}

[data-theme="dark"] H2 {
  color: white !important;
}
[data-theme="dark"] td {
  color: white !important;
}
[data-theme="dark"] .list-group-item {
  background-color: #343a40 !important;
}
[data-theme="dark"] .btn {
  color: white !important;
  border-color: #cac9c9 !important;
}

[data-theme="dark"] .modal-header {
  background-color: #617979 !important;
}

[data-theme="dark"] .modal-body {
  background-color: #617979 !important;
  color: white !important;
}
[data-theme="dark"] .modal-footer {
  background-color: #617979 !important;
}
[data-theme="dark"] .modal-title {
  color: white !important;
}
.btn-info {
  margin-top: 3px;
}

[data-theme="dark"] .btn-info {
  background: #6c757D !important;
}

[data-href] {
	cursor: pointer;
}

H6 {
	margin-bottom: 2px;
}

.tableFixHead {
	overflow-y: auto;
	height: 473px;
	margin-top: -1px;
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
}

th {
	background-color: var(--color-bg-th);
}
a{
	color: var(--color-a);
}
a:hover{
	color: var(--color-a-hover);
}

.alert{
	margin-top: 10px;
}
