<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="/CSS/styles.css" />
</head>
<body>
	<script th:inline="javascript">
    if([[${dark_mode}]]){
      document.body.setAttribute('data-theme', 'dark');
    }
    if([[${scroll_top}]]){
    	localStorage['admin_scrollTop']=0;
      }
    </script>
  
	<div class="sticky-top">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
				<li class="nav-item"><a class="nav-link" href="/tickets">TICKETS</a>
				</li>
				<li class="nav-item active"><a class="nav-link" href="/admin">ADMIN</a>
			</ul>
			<form class="form-inline my-2 my-lg-0 ml-auto" th:action="@{/admin}" method="get">
				<input class="form-control mr-sm-2" name="filter" th:value="${filter}" type="search" placeholder="Search"
					aria-label="Search">
				<input th:if="${sort != null}" type="hidden" name="sort" th:value="${sort}" />
				<button class="btn btn-outline-success my-2 my-sm-0 ml-auto" type="submit">Search</button>
			</form>
			<ul class="navbar-nav ml-auto">
				<li style="margin-left: 10px;width: 200px;" class="nav-item navbar-text" th:text="${user}"></li>
				<li style="margin-left: 10px;width: 75px;" class="nav-item active"><a class="nav-link"
					th:href="@{/logout}">Sign-out</a></li>
			</ul>
		</nav>

		<nav class="navbar navbar-expand-sm navbar-light navbar2-bg">
		
			<ul class="navbar-nav mx-auto">
				<li class="align-self-center" style="margin-left: 50px; display: flex;">
					<form class="form-inline my-2 my-lg-0" th:action="@{/admin}"
						method="get">
						<input type="hidden" name="page" th:value="${page-1}" />
						<input th:if="${sort != null}" type="hidden" name="sort" th:value="${sort}" />
						<input th:if="${filter != null}" type="hidden" name="filter" th:value="${filter}" />
						<button type="submit" th:disabled="${!hasPrevious}">&#129072;</button>
					</form>
				  <span class="align-self-center" th:text="${'&nbsp;'+showing+'&nbsp;'}"></span>
					<form class="form-inline my-2 my-lg-0" th:action="@{/admin}"
						method="get">
						<input type="hidden" name="page" th:value="${page+1}" />
						<input th:if="${sort != null}" type="hidden" name="sort" th:value="${sort}" />
						<input th:if="${filter != null}" type="hidden" name="filter" th:value="${filter}" />
						<input th:if="${sortascending != null}" type="hidden" name="sortascending" th:value="${sortascending}" />
						<button type="submit" th:disabled="${!hasNext}">&#129074;</button>
					</form>
				  <select style="margin-left: 25px;" name="pagesize" id="pagesize_dropdown"
							onchange="changePageSize()">
								<option th:selected="${pagesize==10}" value="10">10</option>
								<option th:selected="${pagesize==25}" value="25">25</option>
								<option th:selected="${pagesize==50}" value="50">50</option>
				  </select>
				  <span class="align-self-center">&nbsp;items per page</span>
				</li>

				<li class="nav-item" style="margin-left: 20px;">
				  <!-- Button trigger modal -->
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">
  						DELETE SELECTED
					</button>
				</li>
			</ul>
					<ul class="navbar-nav ml-auto">
		    <li class="align-self-center" style="margin-right: 20px;">
		      <span class="alert alert-primary" style="font-style: italic; background-color: #97bde5" th:text="${success}" th:if="${success}"></span>
		    </li>

		</ul>
		</nav>
	</div>
	<div class="container" style="max-width: 700px;">

		<div class="table-responsive tableFixHead" style="height: 469px;" id="admin_table">
			<form th:action="@{/admin/delete}" th:object="${form}"
				method="post" id=adminForm>
				<table class="table table-sm table-bordered table-hover">
					<thead>
						<tr
							th:with="url=${'/admin?filter='+filter+'&sortascending='+!sortascending}">
							<th class="text-center" style="width: 80px;">Select</th>
							<th style="width: 100px;"><a class="btn btn-primary " style="width: 82px;"
								th:href="${url+'&sort=id'}">Id <span
									th:if="${sort=='id' and sortascending}" style="color: black;">&nbsp;&#9660;</span><span
									th:if="${sort=='id' and !sortascending}" style="color: black;">&nbsp;&#9650;</span><span
									th:if="${sort!='id'}">&#9660;/&#9650;</span></a></th>
							<th><a class="btn btn-primary " style="width: 100px;"
								th:href="${url+'&sort=title'}">Title <span
									th:if="${sort=='title' and sortascending}"
									style="color: black;">&nbsp;&#9660;</span><span
									th:if="${sort=='title' and !sortascending}"
									style="color: black;">&nbsp;&#9650;</span><span
									th:if="${sort!='title'}">&#9660;/&#9650;</span></a></th>
							<th style="width: 149px;"><a class="btn btn-primary "
								style="width: 124px;" th:href="${url+'&sort=created'}">Created
									<span th:if="${sort=='created' and sortascending}"
									style="color: black;">&nbsp;&#9660;</span><span
									th:if="${sort=='created' and !sortascending}"
									style="color: black;">&nbsp;&#9650;</span><span
									th:if="${sort!='created'}">&#9660;/&#9650;</span>
							</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ticket, itemStat: *{tickets}">
							<td class="text-center"><input type="checkbox"
								th:field="*{tickets[__${itemStat.index}__].flag}" /></td>
							<td th:text="*{tickets[__${itemStat.index}__].id_display}" />
							<input type="hidden" th:field="*{tickets[__${itemStat.index}__].id}" />
							<td> <a th:href="*{'/admin/open/'+tickets[__${itemStat.index}__].id}" th:text="*{tickets[__${itemStat.index}__].title}" />  </td>
							<td th:text="*{tickets[__${itemStat.index}__].getCreatedDateTimeFormat()}" />
						</tr>
					</tbody>
				</table>
			</form>
		</div>

	</div>
	
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete the selected items?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
         <input class="btn btn-primary" type="submit" value="Yes, delete them!" form="adminForm"/>
       </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#admin_table').ready(function(){
    if (localStorage['admin_page'] == document.URL) {
        $('#admin_table').scrollTop(localStorage['admin_scrollTop']);
    }
});

$('#admin_table').scroll(function(){
    localStorage['admin_page'] = document.URL;
    localStorage['admin_scrollTop'] = $('#admin_table').scrollTop();
});
</script>

<script th:inline="javascript">

function changePageSize(){
	window.location.href='http://localhost:3000/admin?pagesize='+document.getElementById("pagesize_dropdown").value;
}
</script>

</body>
</html>