<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en" th:replace="fragments/head :: head"> </head>

<body>
	<script th:inline="javascript">
    if([[${dark_mode}]]){
      document.body.setAttribute('data-theme', 'dark');
    }
    if([[${scroll_top}]]){
    	localStorage['admin_scrollTop']=0;
      }
    </script>
  
	<div class="sticky-top">
      <nav lang="en" th:replace="fragments/header :: navbar1(active_page='admin',search=true)"> </nav>
      <nav lang="en" th:replace="fragments/header :: navbar2(active_page='admin')"> </nav>
	</div>
	<div class="container" style="max-width: 700px;">

		<div class="table-responsive tableFixHead" style="height: 469px;" id="admin_table">
			<form th:action="@{/admin/delete}" th:object="${form}"
				method="post" id=adminForm>
				<table class="table table-sm table-bordered table-hover">
					<thead>
						<tr
							th:with="url=${'/admin?filter='+filter+'&sortascending='+!sortascending}">
							<th class="text-center" style="width: 80px;">Select</th>
							<th style="width: 100px;"><a class="btn btn-primary " style="width: 82px;"
								th:href="${url+'&sort=id'}">Id <span
									th:if="${sort=='id' and sortascending}" style="color: black;">&nbsp;&#9660;</span><span
									th:if="${sort=='id' and !sortascending}" style="color: black;">&nbsp;&#9650;</span><span
									th:if="${sort!='id'}">&#9660;/&#9650;</span></a></th>
							<th><a class="btn btn-primary " style="width: 100px;"
								th:href="${url+'&sort=title'}">Title <span
									th:if="${sort=='title' and sortascending}"
									style="color: black;">&nbsp;&#9660;</span><span
									th:if="${sort=='title' and !sortascending}"
									style="color: black;">&nbsp;&#9650;</span><span
									th:if="${sort!='title'}">&#9660;/&#9650;</span></a></th>
							<th style="width: 149px;"><a class="btn btn-primary "
								style="width: 124px;" th:href="${url+'&sort=created'}">Created
									<span th:if="${sort=='created' and sortascending}"
									style="color: black;">&nbsp;&#9660;</span><span
									th:if="${sort=='created' and !sortascending}"
									style="color: black;">&nbsp;&#9650;</span><span
									th:if="${sort!='created'}">&#9660;/&#9650;</span>
							</a></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ticket, itemStat: *{tickets}">
							<td class="text-center"><input type="checkbox"
								th:field="*{tickets[__${itemStat.index}__].flag}" /></td>
							<td th:text="*{tickets[__${itemStat.index}__].id_display}" />
							<input type="hidden" th:field="*{tickets[__${itemStat.index}__].id}" />
							<td> <a th:href="*{'/admin/open/'+tickets[__${itemStat.index}__].id}" th:text="*{tickets[__${itemStat.index}__].title}" />  </td>
							<td th:text="*{tickets[__${itemStat.index}__].getCreatedDateTimeFormat()}" />
						</tr>
					</tbody>
				</table>
			</form>
		</div>

	</div>
	
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, you want to delete the selected items?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
         <input class="btn btn-primary" type="submit" value="Yes, delete them!" form="adminForm"/>
       </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#admin_table').ready(function(){
    if (localStorage['admin_page'] == document.URL) {
        $('#admin_table').scrollTop(localStorage['admin_scrollTop']);
    }
});

$('#admin_table').scroll(function(){
    localStorage['admin_page'] = document.URL;
    localStorage['admin_scrollTop'] = $('#admin_table').scrollTop();
});
</script>

<script th:inline="javascript">

function changePageSize(){
	window.location.href='http://localhost:3000/admin?pagesize='+document.getElementById("pagesize_dropdown").value;
}
</script>

</body>
</html>