<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en" th:replace="fragments/head :: head"> </head>

<body>
	<script sec:authorize="isAuthenticated()" th:inline="javascript">
    if([[${dark_mode}]]){
      document.body.setAttribute('data-theme', 'dark');
      localStorage.setItem('darkSwitch', 'dark');
    }else{
      localStorage.removeItem('darkSwitch');
    }
   </script>

	<script sec:authorize="!isAuthenticated()">
      localStorage.removeItem('darkSwitch');
   </script>

    <nav lang="en" th:replace="fragments/header :: navbar1(active_page='home',search=false)"> </nav>

	<nav class="navbar navbar-expand-sm navbar-light navbar2-bg">
		<ul class="navbar-nav mx-auto" sec:authorize="!isAuthenticated()">
			<li class="nav-item" ><a th:href="@{/oauth2/authorization/auth0}" class="btn btn-secondary">Sign In or Sign Up as new user</a>
			</li>
		</ul>
		<ul class="navbar-nav mx-auto" sec:authorize="isAuthenticated()">
			<li class="nav-item" >
				    <!-- Button trigger modal -->
					<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter" onclick="document.getElementById('save_columns').disabled = false;">
  						SETTINGS
					</button>
			</li>
		</ul>
	</nav>

	<div class="container">
		<div class="row">
			<div sec:authorize="isAuthenticated()" class="col-4">
				<h2>Dashboard</h2>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th class="text-center">Quantity</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><a href="/tickets">All tickets</a></td>
							<td class="text-center" th:text="${dashboard.get('allTickets')}"></td>
						</tr>
						<tr>
							<td><a th:href="${'/tickets?user_sort='+user}">My tickets</a></td>
							<td class="text-center" th:text="${dashboard.get('myTickets')}"></td>
						</tr>
						<tr>
							<td><a th:href="${'/tickets?status=New&user_sort='+user}">My new tickets</a></td>
							<td class="text-center" th:text="${dashboard.get('myNewTickets')}"></td>						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
<!-- <span id="test1" th:text="${test1}"></span>	 -->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		 <input type="checkbox" id="darkSwitch" />
         <label for="darkSwitch">Dark Mode</label>
         <br>Add/remove table columns:<br> 
        <input type="checkbox" id="title_set" th:checked="${columns.get('title')}">
		<label style="margin: 0;" for="title_set">Title</label><br> 
		<input type="checkbox" id="created_set" th:checked="${columns.get('created')}">
		<label style="margin: 0;" for="created_set">Created</label><br> 
		<input type="checkbox" id="status_set" th:checked="${columns.get('status')}">
		<label style="margin: 0;" for="status_set">Status</label><br>
		<input type="checkbox" id="updated_set" th:checked="${columns.get('updated')}">
		<label style="margin: 0;" for="updated_set">Updated</label><br>
		<button style="margin-top: 5px;" type="button" class="btn btn-primary btn-sm" id="save_columns" onclick="columns_set()">Save columns</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
    </div>
  </div>
</div>


<div class="custom-control custom-switch">
<!--   <input type="checkbox" class="custom-control-input" id="darkSwitch" /> -->
<!--   <label class="custom-control-label" for="darkSwitch">Dark Mode</label> -->
</div>
<script sec:authorize="isAuthenticated()" src="/JS/dark-mode-switch.js"></script>


<script type="text/javascript">

function columns_set(){
	var created=$("#created_set").is(":checked");
	var status=$("#status_set").is(":checked");
	var updated=$("#updated_set").is(":checked");
	var title=$("#title_set").is(":checked");
	var request = new XMLHttpRequest();
	var url='/columns?created='+created+'&status='+status+'&updated='+updated+'&title='+title;
	request.open('GET', url, false);  // `false` makes the request synchronous
	request.send(null);

	document.getElementById("save_columns").disabled = true; 
	
// 	if (request.status === 200) {
// 	  alert(request.responseText);
// 	}
}

</script>

</body>
</html>