<!-- src/main/resources/templates/index.html -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <body>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/oauth2/authorization/auth0}">Log In</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <p>You are logged in!</p>
<!--                 username model var:<h2 th:text="${username}"></h2> -->
                auth model var:<h2 th:text="${auth}"></h2>
                profile model var:<p th:text="${profile.getAttribute('http://role/')}"></p>
<!--                 auth2 model var:<p th:text="${auth2}"></p> -->
                <a th:href="@{/logout}">Log Out</a>
	
        </div>

    </body>
</html>