<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style type="text/css">
  th {
    background-color: blue;
    color: white;
  } 
</style>
</head>
    <body>
     
    <form th:action="@{/ticket/update}" th:object="${ticket}" method="post">
    
  <div class="row">
    <div class="col-auto">
      <label for="inlineFormInput">Ticket number</label>
      <input type="text" class="form-control mb-2" id="inlineFormInput" th:field="*{id}" th:Placeholder="${id}" readonly>
    </div>
    <div class="col-auto">
      <label for="inputTitle">Title</label>
       <input type="text" class="form-control mb-2" id="inputTitle" th:field="*{title}" th:Placeholder="${title}" readonly>
    </div>
        <div class="col-auto">
      <label for="inputStatus">Status</label>
       <input type="text" class="form-control mb-2" id="inputStatus" th:field="*{status}" th:Placeholder="${status}">
    </div>
  </div>  
 
     <label for="inputDescription">Description</label>
      <textarea class="form-control" id="inputDescription" th:field="*{description}" th:Placeholder="${ticket.description}" rows="3" ></textarea>
     
     <input type="submit" value="Submit">
  
</form>    
        
        
        

    </body>
</html>