<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/CSS/styles.css" />
      
</head>
    <body>

	<script th:inline="javascript">
    if([[${dark_mode}]]){
      document.body.setAttribute('data-theme', 'dark');
    }
    if([[${scroll_top}]]){
    	localStorage['scrollTop']=0;
      }
    </script>

	<div class="sticky-top">
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
				<li class="nav-item active"><a class="nav-link" href="/tickets">TICKETS</a>
				</li>
				<li th:if="${admin}" class="nav-item"><a class="nav-link"
					href="/admin">ADMIN</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0 ml-auto"
				th:action="@{/tickets}" method="get">
				<input class="form-control mr-sm-2" name="filter"
					th:value="${filter}" type="search" placeholder="Search"
					aria-label="Search"> <input th:if="${sort != null}"
					type="hidden" name="sort" th:value="${sort}" />
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
			<ul class="navbar-nav ml-auto">
				<li class="nav-item navbar-text" th:text="${user}"></li>
				<li class="nav-item active"><a class="nav-link"
					th:href="@{/logout}">Sign-out</a></li>
			</ul>
		</nav>

		<nav class="navbar navbar-expand-sm navbar-light navbar2-bg">
			<ul class="navbar-nav">
				<li class="nav-item"><a href="/ticket/new"
					class="btn btn-secondary">New ticket</a></li>
				<li class="align-self-center">
					<form class="form-inline my-2 my-lg-0" style="margin-left: 15px;" th:action="@{/tickets}"
						method="get">
						<input type="hidden" name="page" th:value="${page-1}" />
						<input th:if="${sort != null}" type="hidden" name="sort" th:value="${sort}" />
						<input th:if="${filter != null}" type="hidden" name="filter" th:value="${filter}" />
						<button type="submit" th:disabled="${!hasPrevious}">&#129072;</button>
					</form>
				</li>
				<li class="align-self-center">
				  <span th:text="${'&nbsp;'+showing}" />
				</li>
				<li class="align-self-center">
					<form class="form-inline my-2 my-lg-0" style="margin-left: 5px;" th:action="@{/tickets}"
						method="get">
						<input type="hidden" name="page" th:value="${page+1}" />
						<input th:if="${sort != null}" type="hidden" name="sort" th:value="${sort}" />
						<input th:if="${filter != null}" type="hidden" name="filter" th:value="${filter}" />
						<input th:if="${sortascending != null}" type="hidden" name="sortascending" th:value="${sortascending}" />
						<button type="submit" th:disabled="${!hasNext}">&#129074;</button>
					</form>
				</li>
			</ul>
		</nav>
	</div>
	<div class="container">

  <div class="table-responsive tableFixHead" id="tickets_table">
    <table class="table table-bordered table-hover" >
	 <thead>
		<tr th:with="add_filter=${filter != null} ? ${'filter='+filter+'&'} : '', 
		add_sortascending=${!sortascending}">
		  <th><a class="btn btn-primary " style="width:82px;" th:href="${'/tickets?'+add_filter+'sort=id&sortascending='+add_sortascending}">Id <span 
		  		 th:if="${sort=='id' and sortascending}" style="color: black;">&nbsp;&#9660;</span><span 
		  		 th:if="${sort=='id' and !sortascending}" style="color: black;">&nbsp;&#9650;</span><span
		  		 th:if="${sort!='id'}">&#9660;/&#9650;</span></a></th>		  
		  <th><a class="btn btn-primary " style="width:100px;" th:href="${'/tickets?'+add_filter+'sort=title&sortascending='+add_sortascending}">Title <span 
		  		 th:if="${sort=='title' and sortascending}" style="color: black;">&nbsp;&#9660;</span><span 
		  		 th:if="${sort=='title' and !sortascending}" style="color: black;">&nbsp;&#9650;</span><span
		  		 th:if="${sort!='title'}">&#9660;/&#9650;</span></a></th>
		  <th><a class="btn btn-primary " style="width:124px;" th:href="${'/tickets?'+add_filter+'sort=created&sortascending='+add_sortascending}">Created <span 
		  		 th:if="${sort=='created' and sortascending}" style="color: black;">&nbsp;&#9660;</span><span 
		  		 th:if="${sort=='created' and !sortascending}" style="color: black;">&nbsp;&#9650;</span><span
		  		 th:if="${sort!='created'}">&#9660;/&#9650;</span></a></th>
		  <th>Status&nbsp;&nbsp;<select name="status" id="status_dropdown"
							onchange="changeStatus()">
								<option th:selected="${status==''}" value="">all</option>
								<option th:selected="${status=='new'}" value="new">new</option>
								<option th:selected="${status=='completed'}" value="completed">completed</option>
						</select></th>
		  <th>User</th>
       
		</tr>
	  </thead>
	  <tbody>
		<tr th:each="ticket: ${tickets}">
		  <td th:text="${ticket.id_display}" />
	   	  <td> <a th:href="${'/ticket/open/'+ticket.id}" th:text="${ticket.title}" />  </td>
	   	  <td th:text="${ticket.getCreatedDateFormat()}" />
		  <td th:text="${ticket.status}" />
		  <td th:text="${ticket.user}" />       
		</tr>
	  </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
$('#tickets_table').ready(function(){
    if (localStorage['page'] == document.URL) {
        $('#tickets_table').scrollTop(localStorage['scrollTop']);
    }
});

$('#tickets_table').scroll(function(){
    localStorage['page'] = document.URL;
    localStorage['scrollTop'] = $('#tickets_table').scrollTop();
});

function changeStatus(){
	window.location.href='http://localhost:3000/tickets?status='+document.getElementById("status_dropdown").value;
}
</script>


</body>
</html>