<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style type="text/css">
  th {
    background-color: blue;
    color: white;
  } 
</style>
</head>
    <body>
  
        
 <div class="container">
  <h2>Tickets</h2>
  
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
	 <thead>
		<tr>
		  <th><a class="btn btn-primary " href="/tickets?sort=id">Id &#9660;</a></th>
		  <th><a class="btn btn-primary " href="/tickets?sort=title">Title &#9660;</a></th>
		  <th><a class="btn btn-primary " href="/tickets?sort=status">Status &#9660;</a></th>
		  <th><a class="btn btn-primary " href="/tickets?sort=user">User &#9660;</a></th>
		  <th>Description</th>
       
		</tr>
	  </thead>
	  <tbody>
		<tr th:each="ticket: ${tickets}">
		  <td th:text="${ticket.id}" />
	   	  <td th:text="${ticket.title}" />
		  <td th:text="${ticket.status}" />
		  <td th:text="${ticket.user}" />
		  <td th:text="${ticket.description}" />  
       
		</tr>
	  </tbody>
    </table>
  </div>
</div>
        

    </body>
</html>